/* .body {
  margin: 0;
  width:100%;
  background-color: #231E32;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,html{
  margin:0;
  width:100%;
}
html{
    background-color: gray;
}

.container {
    padding: 1em;
    max-width:750px;
    min-height:100vh;
    width:90%;
    margin: auto;
    box-sizing:border-box;
    background-color:aquamarine;
}

.row {
    margin:0;
    padding-left:20px;
} */